{% extends "base.html" %}

{% block title %} Welcome! {% endblock %}

{% block content %}
<h1>Hello, world!</h1>
<p>This is my first Django app. This is on github at <a href="https://github.com/juanjuanzero/Learning_Django">my repo</a></p>
<div><a href="{% url 'all_rooms' %}">All Rooms</a></div>
<ul>
    {% for meeting in meetings%}
    <li><a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a> on {{meeting.date}} {{meeting.start_time}} at {{meeting.room.name}}</li>
    {%endfor%}
</ul>

{% endblock %}
